/*----------------------------------------------------------------------------------*/
/* TIPOGRAFÍAS */
/*----------------------------------------------------------------------------------*/
@font-face {
    font-family: 'light';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'semibold';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'black';
    src: url('../fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument-Extended';
    src: url('../fonts/MonumentExtended/MonumentExtended-Ultrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*----------------------------------------------------------------------------------*/

/* VARIABLES TIPOGRÁFICAS */
$font-title: "Monument-Extended";
$font-text: "light";

/*----------------------------------------------------------------------------------*/

/* COLORES */
$primary: #226412;
$secondary: #D9D9D9;

:root {
    --green__primary: #226412;
    --green__dark: #102A09;
    --green__light: #68A25A;
    --black__1: #060606;
    --white__1: #D9D9D9;

    --navbar--toggler__icon: url("../assets/icons/navbar-toggler-icon.png");
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background: var(--black__1);
}

/*----------------------------------------------------------------------------------*/
/* COMPONENTES PRINCIPALES */
/*----------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------*/
/*NAVBAR*/
/*----------------------------------------------------------------------------------*/
.navbar {
    background-color: var(--black__1);
    font-family: 'medium', sans-serif;
    font-size: x-small;

    .nav-link {
        &:hover {
            color: var(--green__primary);
        }
    }

    .menu--desplegable {
        font-size: x-small;
    }

    .navbar-brand {
        img {
            width: 80%;
            height: 80%;
        }
    }
}

/*----------------------------------------------------------------------------------*/
/*TEXTO*/
/*----------------------------------------------------------------------------------*/
h1.titulo--principal {
    font-family: $font-title;
    /* Usa la familia de fuentes Montserrat-Black y, si no está disponible, usa fuentes sans-serif */
    color: var(--white__1) !important;

    span {
        color: var(--green__primary) !important;
    }
}

h2.titulo--secundario {
    font-family: $font-title;
    font-size: large;
    color: var(--white__1) !important;
    padding: 20px 0px;

    span {
        color: var(--green__primary) !important;
    }
}

h3.titulo--terciario {
    font-family: $font-title;
    font-size: large;
    color: var(--white__1) !important;

    span {
        color: var(--green__primary) !important;
    }
}

h4 {
    span {
        color: var(--green__primary) !important;
    }
}

h5 {
    font-family: "medium", sans-serif;
}

p.texto--principal {
    font-family: 'light', sans-serif;
    color: var(--white__1) !important;

    span {
        font-family: "semibold";
    }
}

.titulo--compuesto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.separacion--estandar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.separacion--estandar-2 {
    margin-bottom: 80px;
}

/*----------------------------------------------------------------------------------*/
/*BOTONES*/
/*----------------------------------------------------------------------------------*/
.button {
    display: flex;
    width: 100%;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--green__primary);
    font-family: "medium", sans-serif;
    font-weight: 700;
    font-size: medium;
}

.button--primary {
    @extend .button;
    color: var(--white__1);
    background: var(--green__primary);

    &:hover {
        background: var(--green__dark);
        color: var(--white__1);
    }
}

.button--primary--dark {
    @extend .button--primary;
    background: var(--black__1);

    &:hover {
        background: var(--green__light);
    }
}

.button--standar {
    @extend .button;

    &:hover {
        background: var(--green__dark);
        color: var(--white__1);
    }
}

.button--secondary {
    @extend .button;
    background: none;
    border: 1px solid var(--white__1);
    color: var(--white__1);

    &:hover {
        border: 1px solid var(--green__light);
        color: var(--green__light);
    }
}

.option-bar {
    display: inline-flex;
    padding: 10px 30px 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--green__primary);
}

.active {
    color: var(--green__primary);
}

/*----------------------------------------------------------------------------------*/
/*PORTADAS*/
/*----------------------------------------------------------------------------------*/
div.portada__fondo {
    margin-top: 0px;
    padding-top: 80px;
    padding-bottom: 24px;
}

div.portada__imagen {
    display: flex;
    justify-content: end;
}

div.portada__icons {
    display: flex;
    justify-content: end;
    padding: 0px 0px;
    margin: 40px 0px;
    opacity: 60%;
}

div.card-body {
    font-family: "semibold";
    font-size: small;

    .card-text {
        font-family: "light";
        font-size: smaller;
    }
}

#portada__data {
    align-content: flex-start;
}

/*----------------------------------------------------------------------------------*/
/*SECCION NOTICIAS*/
/*----------------------------------------------------------------------------------*/
div.noticias {

    background-color: var(--black__1);

    section.noticias {
        h2 {
            padding: 40px 0px;
        }
    }

    .container__noticias {
        display: flex;
        flex: 1;
    }

}

/*----------------------------------------------------------------------------------*/
/*SECCION PROGRAMACIÓN*/
/*----------------------------------------------------------------------------------*/
div.programacion {

    background-color: var(--black__1);

    section.programacion {
        h2 {
            padding: 40px 0px;
        }
    }

    h4 {
        font-family: "semibold";
        font-size: small;

    }

    p {
        font-family: "light";
        font-size: smaller;
    }
}

/*----------------------------------------------------------------------------------*/
/*BANNER*/
/*----------------------------------------------------------------------------------*/
div.banner {
    background-color: var(--green__primary);

    .banner__solid {
        color: var(--white__1);
        width: 40px;
    }

    .titulo--banner {
        color: #D9D9D9;
        font-family: "Monument-Extended";
        text-align: center;
        padding: 40px 0px;
        margin-bottom: 0px;
    }
}